body {
    width: 50%;
}

h4 {
    display: inline;
}

img {
    height: 10px;
    width: 10px;
}

h1 {
    background-color: red;
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-component {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 40px;
}

.list-component {
    border: 2px solid black;
    height: 40px;
    background-color: lightblue;
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
}

.image {
    padding: 10px;
}